/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_sv.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC           &kp SV_N1  &kp SV_N2  &kp SV_N3  &kp SV_N4  &kp SV_N5                               &kp SV_N6  &kp SV_N7     &kp SV_N8         &kp SV_N9   &kp SV_N0        &kp SV_ACUTE
&kp TAB           &kp SV_Q   &kp SV_W   &kp SV_E   &kp SV_R   &kp SV_T                                &kp SV_Y   &kp SV_U      &kp SV_I          &kp SV_O    &kp SV_P         &kp SV_A_RING
&kp LEFT_SHIFT    &kp SV_A   &kp SV_S   &kp SV_D   &kp SV_F   &kp SV_G                                &kp SV_H   &kp SV_J      &kp SV_K          &kp SV_L    &kp SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp LEFT_CONTROL  &kp SV_Z   &kp SV_X   &kp SV_C   &kp SV_V   &kp SV_B   &kp BACKSPACE    &kp DELETE  &kp SV_N   &kp SV_M      &kp SV_COMMA      &kp SV_DOT  &kp SV_MINUS     &kp RSHFT
                                        &kp LALT   &kp LGUI   &mo 1      &kp SPACE        &kp RET     &mo 2      &kp SV_SLASH  &kp SV_BACKSLASH
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&kp F1        &kp F2              &kp F3           &kp F4         &kp F5       &kp F6                                                   &kp F7            &kp F8               &kp F9           &kp F10          &kp KP_ASTERISK  &trans
&kp F7        &kp F8              &kp F9           &kp F10        &kp F11      &kp F12                                                  &kp F7            &kp KP_NUMBER_7      &kp KP_NUMBER_8  &kp KP_N9        &kp KP_PLUS      &trans
&kp SV_TILDE  &kp SV_EXCLAMATION  &kp SV_QUESTION  &kp SV_AT      &kp SV_HASH  &kp SV_PERCENT                                           &kp SV_AMPERSAND  &kp RS(KP_NUMBER_4)  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS     &trans
&kp SV_CARET  &kp SV_AMPERSAND    &kp SV_TILDE     &kp SV_DOLLAR  &trans       &trans          &kp SV_LEFT_BRACE    &kp SV_RIGHT_BRACE  &kp SV_MINUS      &kp KP_NUMBER_1      &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMLOCK   &kp SV_EQUAL
                                                   &trans         &trans       &trans          &trans               &trans              &mo 3             &trans               &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &trans             &trans          &trans      &trans      &trans                                                       &trans  &trans    &kp PAGE_UP     &trans           &trans  &trans
&trans  &trans             &trans          &trans      &trans      &trans                                                       &trans  &kp HOME  &kp UP_ARROW    &kp END          &trans  &trans
&trans  &kp C_VOLUME_UP    &kp C_PREVIOUS  &kp C_PLAY  &kp C_NEXT  &trans                                                       &trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &kp C_VOLUME_DOWN  &trans          &kp C_STOP  &trans      &trans  &kp SV_LEFT_PARENTHESIS    &kp SV_RIGHT_PARENTHESIS  &trans  &trans    &kp PAGE_DOWN   &trans           &trans  &trans
                                           &trans      &trans      &trans  &trans                     &trans                    &trans  &trans    &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
